
body {
  width:100%;		
  max-width: 1020px;
  margin: auto;
}
header {
  background-color: #2d303a;
  height: 89px;
}
.logo {
  width: 20px;
  margin-left: 40px;
  margin-top: 30px;
  float: left;
}
nav {
  text-align: right;
  padding-top: 34px;
  padding-right: 40px;
}
nav a {
  color: white;
  padding-right: 15px;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  color: #f06c64;
}
.under_header {
  background-color: #323746;
  height: 6px;
}
.slider {
  background-color: #f06c64;
  height: 585px;
  
  position: relative;
  overflow: hidden;
}
.slider div {
  display: inline-block;
}

.arr_left {
  position: absolute;
  left: 2.25%;
	right: 96.18%;
	top: 48.37606837606838%;
	
}
.iphone-vertical {
  position: absolute;
  top: 9.23076923076923%;
  left: 10.98039215686275%;
  max-width: 240px;
	  max-height: 483px;
	  
}
.iphone-horizontal {
  position: absolute;
  top: 30.25641025641026%;
  right: 10.98039215686275%;
  max-width: 483px;
	  max-height: 240px;
	  
}
.arr_right {
  position: absolute;
  left: 92.84%;
	right: 5.59%;
	top: 48.37606837606838%;
	
}
.vertical_iphone {
	width:200px;
	height:350px;
	position:absolute;
	background-color:black;
	z-index:10;	
	left:10px;
	top:60px;
	opacity:0;

  }
  .button_vertical_iphone{
	position:absolute;
	background-color:black;
	z-index:10;	
	left:87px;
	top:410px;
	opacity:0.5;
	width:50px;
	height:50px;
	border-radius:50%;	
	opacity:0.01;
	
  }
  
  .gorizontal_iphone {
	width:350px;
	height:200px;
	position:absolute;
	background-color:black;
	z-index:10;	
	left:60px;
	top:10px;
	opacity:0;

  }
  .button_gorizontal_iphone{
	position:absolute;
	background-color:black;
	z-index:10;	
	left:10px;
	top:90px;
	opacity:0.01;
	width:50px;
	height:50px;
	border-radius:50%;	
  }
.arr_left:hover {
  opacity:0.5;
}
.arr_right:hover {
  opacity:0.5;
}
.footer_slider {
  background-color: #ea676b;
  height: 15px;
  width: 1020px;
  position: absolute;
  bottom: 0px;
}
.header {
  background-color: #f2f2f2;
}
h1 {
  margin-top: 0;
  padding-top: 59px;
  padding-left: 40px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}
.header p {
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 18px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
}
.wrapper1 {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  background-color: #f2f2f2;
  height: 275px;
  padding-top: 60px;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 32% 68%;
}

.img {
  padding-left: 35px;
}
.description {
  padding: 0 10px 0 10px;
}
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
}
.wrapper1 p {
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
text-align:justify;
}
.footer {
  height: 6px;
  background-color: #ffffff;
}


.portfolio h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 42px;
  padding-top: 66px;
  color: #666d89;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 1px;
}
.portfolio p {
  font-size: 18px;
  padding-left: 42px;
  color: #767e9e;
  line-height: 30px;
  font-weight: 300;
}
.block_12 {
  
  background-color: #2d303a;
}
.block_12  ul  li {
  display: inline;
  padding: 5px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  text-align: center;
  margin-left: 10px;
  color: #767e9e;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}
.block_12 ul {
  margin-bottom: 0;
  margin-top: 19px;
}
.block_12 ul li:hover {
  color: yellow;
  cursor: pointer;
}
 .block_12 .first_li {
  margin-left: 0 !important;
}
 .block_12 .wrapper_1 {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  margin-top: 19px;
  grid-column-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top:0;
}
.block_12 .wrapper_1 > div > img {
  width: 220px;
  height: 189px;
}
.block_12 .wrapper_1  div {
	padding-bottom:10px;
}

.footer_1 {
  height: 6px;
  background-color: #323746;
}

.block_22 {
  background-color: #f1f1f1;
  height: 728px;
}
.block_22 .About_us h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 42px;
  padding-top: 66px;
  color: #666d89;
  line-height: 18px;
  font-weight: 900;
}
.block_22 .About_us p {
  font-size: 18px;
  padding-left: 42px;
  color: #767e9e;
  padding-right: 40px;
  line-height: 30px;
  font-weight: 300;
}
.block_22 .wrapper_2 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 49px;
}
.block_22 .wrapper_3 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.block_22 .wrapper_3 h3 {
  font-size: 18px;
  color: #666d89;
  line-height: 18px;
  font-weight: 900;
}
 .block_22 .wrapper_3 p {
  font-size: 12px;
  color: #767e9e;
  line-height: 22px;
  font-weight: 400;
}
.block_22 .wrapper_4 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 27px;
}
.block_22 .wrapper_4_inside {
  display: grid;
  grid-template-columns: 32px 32px 32px 32px;
  grid-column-gap: 8px;
}
.block_22 .wrapper_4_inside img:hover {
  background-color: lightgray;
  cursor: pointer;
}
.footer_2 {
  height: 6px;
  background-color: #ffffff;
}
.block_22 .wrapper_4_inside img:hover {
  background-color: lightgray;
}




.block_13 {
  background-color: #f06c64;
  
}
.block_13 h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 67px;
  padding-left: 41px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;
  font-family: "Lato";
}

.block_13 p {
  margin-top: 0;
  padding-top: 22px;
  padding-left: 43px;
  padding-right: 40px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-weight: 300;
  
  text-align:justify;
  font-family: "Lato";
}
.wrapper_1 {
  display: grid;
  grid-template-columns: 660px 340px;
  grid-column-gap: 20px;
  margin-top: 40px;
  padding-top: 17px;
}

.form {
  padding-left: 40px;
}
.info {
  padding-right: 40px;
}
.info h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
}
.info p {
  padding-right:0;

  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
  color: #f0d8d9;
  
  padding-left: 0;
  padding-top: 0;
  margin-top: 14px;
  padding-bottom: 0;
}
input {
  width: 620px;
  background-color: #d6564f;
  height: 38px;
  border-radius: 3px 4px;
  border: none;
  margin-bottom: 16px;
}
input[placeholder] {
  text-indent: 15px;
  padding-right: 0;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
}
textarea {
  width: 620px;
  background-color: #d6564f;
  height: 200px;
  border-radius: 3px 4px;
  border: none;
  margin-bottom: 16px;
}
textarea[placeholder] {
  text-indent: 15px;
  padding-right: 0;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
}
textarea::-webkit-input-placeholder {
  color: #f48c8f;
}
input::-webkit-input-placeholder {
  color: #f48c8f;
}
.wrapper_inside_1 {
  display: grid;
  grid-template-columns: 8px 135px;
  grid-column-gap: 21px;
  margin-top: 33px;
  height: 14px;
}
.some_info p {
  margin-top: 0;
}
.wrapper_inside_2 {
  display: grid;
  grid-template-columns: 8px 135px;
  grid-column-gap: 21px;
  height: 14px;
  margin-top: 9px;
}
.some_info p {
  margin-top: 0;
  margin-bottom: 0;
  width: 300px;
  height: 177px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
}
.some_info p a {
	color:#f0d8d9;
	text-decoration:none;
}
.some_info p a:hover {
	cursor:pointer;
	
}
.block_2 {
  height: 6px;
  background-color: #ea676b;
}

footer {
  height: 76px;
  background-color: #2d303a;
}
.wrapper_footer {
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .wrapper_footer p {
  margin-top: 0;
  font-size: 13px;
  color: #626984;
  font-family: "DejaVu Sans";
  padding-left: 42px;
  padding-top: 33px;
  line-height: 18px;
}
.social_media {
  text-align: right;
  padding-right: 32px;
  padding-top: 22px;
}
.social_media img {
  padding-right: 8px;
}
.social_media > img:hover {
	background-color:lime;
	cursor: pointer;
}

@media screen and (max-width:1019px){
	body {
	  width:100%;		
	  min-width: 768px;
	  margin: auto;
	}
	.slider {
	  background-color: #f06c64;
	  height: 447.25px;
	  
	  position: relative;
	  overflow: hidden;
	}
		.arr_left {
	  position: absolute;
	  left: 3.83072916666667%;
		right: 96.18%;
		top: 46.90100938551443%;
		
	}
	.iphone-vertical img{
	  max-width: 162.36px;
	  max-height: 344.26px;
	  max-width: 100%;
      height: auto;
	}
	.iphone-horizontal img{
	  max-width: 100%;
	  height: auto;
	  max-height: 180.93px;
      max-width: 364.21px;
	}
	.iphone-vertical  {
	  position: absolute;
	  top: 9.23076923076923%;
	  left: 10.98039215686275%;
	  
	  
	}
	.iphone-horizontal  {
	  position: absolute;
	  top: 30.25641025641026%;
	  right: 10.98039215686275%;
	  
	  
	}
	.arr_right {
	  position: absolute;
	  left: 92.84%;
		right: 3.49739583333333%;
		top: 46.90100938551443%;
	}
	.arr_right:hover{
		opacity:0.5;
	}
	.arr_left:hover{
		opacity:0.5;
	}
	/*---inside Iphones---*/
	.vertical_iphone {
	width:133.55px;
	height:250.73px;
	position:absolute;
	background-color:black;
	z-index:10;	
	left:5.83254938852305%;
	top:13.47502130818509%;
	opacity:0;

  }
  .button_vertical_iphone{
	position:absolute;
	background-color:black;
	z-index:10;	
	left: 33.2%;
	top: 80.02864114332191%;
	opacity:0.5;
	width:50px;
	height:50px;
	border-radius:50%;	
	opacity:0.01;
	
  }
  
  .gorizontal_iphone {
	width:250.73px;
	height:141.55px;
	position:absolute;
	background-color:black;
	z-index:10;	
	left:12.4233508400473%;
	top:5.83254938852305%;
	opacity:0;

  }
  .button_gorizontal_iphone{
	position:absolute;
	background-color:black;
	z-index:10;	
	left:8px;
	top:60px;
	opacity:0.01;
	width:50px;
	height:50px;
	border-radius:50%;	
  }
.header {
  background-color: #f2f2f2;
  padding-top:39.24px;
}
h1 {
  margin-top: 0;
  padding-top: 0;
  padding-left: 40px;
  font-size: 30px;
  line-height: 36px;
  color: #666D89;
  margin-bottom:0;
}
.header p {
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 18px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top:0;
  color: #767E9E;
  text-align:justify;
}	
  .wrapper1 {
	  display: grid;
	  grid-template-columns: 39.0625% 39.0625%;
	  grid-column-gap:6.90104166666667%;
	  background-color: #f2f2f2;
	  height: 472px;
	  padding-top: 28px;
	  padding-left:41px;
	  
  }
  
	.wrapper2 {
	  display: grid;
	  grid-template-columns: 20% 73.33333333333333%;
	  grid-column-gap:20px;
	  width: 300px;
	  height: 110px;
	  margin-bottom:39px;
	}

	.img {
	  padding-left: 0;
	}
	.description {
	  
	}
	h6 {
	  margin-top: 0;
	  margin-bottom: 0;
	  font-weight: 900;
      font-size: 18px;
      line-height: 18px;
	  color: #666D89;
	}
	.wrapper1 p {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	text-align: justify;
	color: #767E9E;
	margin-top:7px;
	}
	
	.portfolio h2 {
	  
	  margin-top: 0;
	  margin-bottom: 0;
	  padding-left: 42px;
	  padding-top: 59px;
	  color: #666D89;
	  font-style: normal;
		font-weight: 900;
     font-size: 30px;
      line-height: 36px;
	}
	.portfolio p {
	  font-size: 18px;
	  padding-left: 42px;
	  padding-top:14px;
	  color: #767E9E;
	  font-style: normal;
    font-weight: 300;
    font-size: 18px;
     line-height: 30px;
	 margin-top:0;
	 margin-bottom:12px;
	}
	.block_12 {
	  
	  background-color: #2d303a;
	}
	.block_12 ul{
		margin-top:12px;
	}
	.block_12  ul  li {
	  display: inline;
	  padding: 5px;
	  border: 1px solid #c5c5c5;
	  border-radius: 3px;
	  text-align: center;
	  margin-left: 10px;
	  color: #767e9e;
	  font-size: 12px;
	  line-height: 12px;
	  font-weight: normal;
	  
	}
	.block_12 ul {
	  margin-bottom: 0;
	  margin-top: 12px;
	}
	
	 .block_12 .first_li {
	  margin-left: 0 !important;
	}
	 .block_12 .wrapper_1 {
	  display: grid;
	  grid-template-columns: 31.38419104304275% 31.38419104304275% 31.38419104304275%;
	  margin-top: 19px;
	  grid-column-gap: 1.40088553386078%;
	  padding-left: 40px;
	  padding-right: 40px;
	  padding-top:0;
	}
	.block_12 .wrapper_1 > div > img {
	  width: 216.19px;
	  height: 183.76px;
	}
	.block_12 .wrapper_1  div {
		padding-bottom:19.65px;
	}
  
  /*about US*/
  .block_22{
	  height:669px;
  }
  .block_22 .About_us h2 {
  
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 42px;
  padding-top: 52px;
  color: #666d89;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}
.block_22 .About_us p {
  font-size: 18px;
  padding-left: 42px;
  color: #767e9e;
  padding-right: 40px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  padding-top:14px;
  margin-top:0;
  margin-bottom:0;
 
}
.block_22 .wrapper_2 {
  display: grid;
  grid-template-columns: 31.92419825072886% 31.92419825072886% 31.92419825072886%;
  grid-column-gap: 2.11807580174927%;
  padding-left: 42px;
  padding-right: 40px;
  margin-top: 49px;
}
.block_22 .wrapper_2 .face_img > img {
	width: 218.94px;
    height: 218.94px;
}
.block_22 .wrapper_3 {
  display: grid;
  grid-template-columns: 31.92419825072886% 31.92419825072886% 31.92419825072886%;
  grid-column-gap: 2.11807580174927%;
  padding-left: 42px;
  padding-right: 40px;
}
.block_22 .wrapper_3 h3 {
  font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 18px;
margin-top:12.06px;
margin-bottom:0;
}
 .block_22 .wrapper_3 p {
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
margin-top:5px;
margin-bottom:0;

text-align: justify;
  color: #767e9e;
  
}
.block_22 .wrapper_4 {
  display: grid;
  grid-template-columns: 31.92419825072886% 31.92419825072886% 31.92419825072886%;
  grid-column-gap: 2.11807580174927%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 5px;
}
.block_22 .wrapper_4_inside {
  display: grid;
  grid-template-columns: 32px 32px 32px 32px;
  grid-column-gap: 8px;
}
.block_22 .wrapper_4_inside img:hover {
  background-color: lightgray;
  cursor: pointer;
}

.block_22 .wrapper_4_inside img:hover {
  background-color: lightgray;
}
  /* get Qoute*/
  
  .block_13 {
  background-color: #f06c64;
  
}
.block_13 h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 53px;
  padding-left: 42px;
  color: #f0d8d9;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
   line-height: 36px;
}

.block_13 p {
  margin-top: 0;
  padding-top: 22px;
  padding-left: 43px;
  padding-right: 37px;
  
  color: #f0d8d9;
  font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	text-align:justify;
}
.wrapper_1 {
  display: grid;
  grid-template-columns: 64.33770014556041% 32.1688500727802%;
  grid-column-gap: 4.22125181950509%;
  margin-top: 40px;
  padding-top: 17px;
}

.form {
  padding-left: 40px;
}
.info {
  padding-right: 40px;
}
.info h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
}
.info p {
  

  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 0;
  padding-top: 0;
  margin-top: 14px;
  padding-bottom: 0;
}
input {
  width: 442px;
  background-color: #d6564f;
  height: 38px;
  border-radius: 3px 4px;
  border: none;
  margin-bottom: 16px;
}
button{
	margin-top:17px;
	margin-bottom:39.21px;
	text-align: left;
}
input[placeholder] {
  text-indent: 15px;
  padding-right: 0;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
}
textarea {
  width: 442px;
  background-color: #d6564f;
  height: 200px;
  border-radius: 3px 4px;
  border: none;
  margin-bottom: 17px;
}
textarea[placeholder] {
  text-indent: 15px;
  padding-right: 0;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
}
textarea::-webkit-input-placeholder {
  color: #f48c8f;
}
input::-webkit-input-placeholder {
  color: #f48c8f;
}
.wrapper_inside_1 {
  display: grid;
  grid-template-columns: 8px 135px;
  grid-column-gap: 21px;
  margin-top: 33px;
  height: 14px;
}
.some_info p {
  margin-top: 0;
}
.wrapper_inside_2 {
  display: grid;
  grid-template-columns: 8px 135px;
  grid-column-gap: 21px;
  height: 14px;
  margin-top: 9px;
}
.some_info p {
  margin-top: 0;
  margin-bottom: 0;
  width: 300px;
  height: 177px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
}
.some_info p a {
	color:#f0d8d9;
	text-decoration:none;
}
.some_info p a:hover {
	cursor:pointer;
	
}
  
}

/*markup fo IphoneX*/

@media screen and (max-width:767px){
	body {
	  width:100%;		
	  min-width: 375px;
	  margin: auto;
	}
	
	
	header {
	  background-color: #2d303a;
	  height: 71px;
}
	.logo {
	  padding:24px 135px 23px 148px;
	  float:none;
	  margin:0;
	}
	nav {
	  display:none;
	}
	.slider {
	  background-color: #f06c64;
	  height: 220.59px;
	  
	  position: relative;
	  overflow: hidden;
	}
		.arr_left {
	  position: absolute;
	  left: 3.83072916666667%;
		right: 96.18%;
		top: 46.90100938551443%;
		
	}
	.iphone-vertical img{
	  max-width: 88.3px;
      max-height: 177.61px;
	  max-width: 100%;
      height: auto;
	}
	.iphone-horizontal img{
	  max-width: 100%;
	  height: auto;
	  max-height: 88.35px;
      max-width: 177.84px;
	}
	.iphone-vertical  {
	  position: absolute;
	  top: 11.70497302688245%;
	  left: 16.20815467788756%;
	  
	  
	}
	.iphone-horizontal  {
	  position: absolute;
	  top: 30.25641025641026%;
	  right: 10.98039215686275%;
	  
	  
	}
	.arr_right {
	  position: absolute;
	  left: 92.84%;
		right: 3.49739583333333%;
		top: 46.90100938551443%;
	}
	.arr_right:hover{
		opacity:0.5;
	}
	.arr_left:hover{
		opacity:0.5;
	}
	/*---inside Iphones---*/
	.vertical_iphone {
	width:69.12px;
	height:120.43px;
	position:absolute;
	background-color:black;
	z-index:10;	
	left:5.83254938852305%;
	top:13.47502130818509%;
	opacity:0;

  }
  .button_vertical_iphone{
	position:absolute;
	background-color:black;
	z-index:10;	
	left: 33.2%;
	top: 80.02864114332191%;
	opacity:0.5;
	width:50px;
	height:50px;
	border-radius:50%;	
	opacity:0.01;
	
  }
  
  .gorizontal_iphone {
	width:122.43px;
	height:69.12px;
	position:absolute;
	background-color:black;
	z-index:10;	
	left:12.4233508400473%;
	top:5.83254938852305%;
	opacity:0;

  }
  .button_gorizontal_iphone{
	position:absolute;
	background-color:black;
	z-index:10;	
	left:3.07px;
	top:26.14px;
	opacity:0.01;
	width:50px;
	height:50px;
	border-radius:50%;	
  }
	
	.header {
      background-color: #f2f2f2;
      padding-top:39.24px;
}
	h1 {
	  margin-top: 0;
	  padding-top: 25,41;
	  padding-left: 32px;
	  font-style: normal;
		font-weight: 900;
      font-size: 30px;
      line-height: 36px;
	  color: #666D89;
	  margin-bottom:0;
	}
	.header p {
	  padding-left: 32px;
	  padding-right: 29px;
	  padding-top: 17.98px;
	  font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 30px;
	  margin-bottom: 0;
	  margin-top:0;
	  color: #767E9E;
	  text-align:justify;
	}	
	
	.wrapper1 {
	  display: grid;
	  grid-template-columns: 80%;
	  grid-column-gap:6.90104166666667%;
	  background-color: #f2f2f2;
	  height: 723px;
	  padding-top: 25.41px;
	  padding-left:41px;
	  padding-bottom:16px;
	  
  }
  
	.wrapper2 {
	  display: grid;
	  grid-template-columns: 20% 73.33333333333333%;
	  grid-column-gap:20px;
	  width: 300px;
      height: 103.9px;
	  margin-bottom:0;
	  margin-top:0;
	  margin-right:43px;
	  
	}

	.img {
	  padding-left: 0;
	}
	.description {
	  
	}
	h6 {
	  margin-top: 0;
	  margin-bottom: 0;
	  font-weight: 900;
      font-size: 18px;
      line-height: 18px;
	  color: #666D89;
	}
	.wrapper1 p {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	text-align: justify;
	color: #767E9E;
	margin-top:7px;
	}
	
	.portfolio h2 {
	  
	  margin-top: 0;
	  margin-bottom: 0;
	  padding-left: 30px;
	  padding-top: 42px;
	  padding-right:30px;
	  color: #666D89;
	  font-style: normal;
	  font-weight: 900;
      font-size: 30px;
		line-height: 36px;
	}
	.portfolio p {
	  font-size: 18px;
	  padding-left: 30px;
	  padding-top:14px;
	  color: #767E9E;
	  font-style: normal;
     font-weight: 300;
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     line-height: 30px;
	 margin-top:0;
	 margin-bottom:12px;
	 text-align:justify;
	}
		
	.block_12  ul  li {
	  display: inline;
	  padding: 5px;
	  border: 1px solid #767E9E;
	 box-sizing: border-box;
	 border-radius: 5px;
	  text-align: center;
	  margin-left: 10px;
	 color: #DEDEDE;
	  font-style: normal;
	 font-weight: normal;
	 font-size: 12px;
	 line-height: 12px;
	}
	.block_12 ul {
	  margin-bottom: 0;
	  margin-top: 15px;
	  padding-left:30px;
	}
	.block_12 ul li:hover {
	  color: yellow;
	  cursor: pointer;
	}
	 
	.block_12 .wrapper_1 {
	  display: grid;
	  grid-template-columns:47.93650793650794% 47.93650793650794% ;
	  margin-top: 19px;
	  grid-column-gap: 3.46666666666667%;
	  padding-left: 30px;
	  padding-right: 30px;
	  padding-top:0;
	}
	.block_12 .wrapper_1 > div > img {
	  width: 151px;
	  height: 128px;
	}
	.block_12 .wrapper_1  div {
		padding-bottom:14px;
	}
	
	.block_22{
	  height:1754px;
  }
  .block_22 .About_us h2 {
  
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  padding-top: 33px;
  color: #666d89;
  font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
}
.block_22 .About_us p {
  padding-top:14px;
  padding-left: 30px;
  color: #767e9e;
  padding-right: 30px;
  font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
  margin-top:0;
  margin-bottom:0;
  text-align:justify;
 
}
	
	.block_22 .wrapper_2 {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 20px;
  padding-left: 31px;
  padding-right: 30px;
  margin-top: 49px;
}
.block_22 .wrapper_2 .face_img > img{
	width: 314px;
    height: 314px;
}
.block_22 .wrapper_3 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.block_22 .wrapper_3 h3 {
  font-size: 18px;
  color: #666d89;
  line-height: 18px;
  font-weight: 900;
}
 .block_22 .wrapper_3 p {
  font-size: 12px;
  color: #767e9e;
  line-height: 22px;
  font-weight: 400;
}
.block_22 .wrapper_4 {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-column-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 27px;
}
.block_22 .wrapper_4_inside {
  display: grid;
  grid-template-columns: 32px 32px 32px 32px;
  grid-column-gap: 8px;
}
.block_22 .wrapper_4_inside img:hover {
  background-color: lightgray;
  cursor: pointer;
}
	
	
	
	
	
	
	
}








